



// Body
$body-bg: #f5f8fa;

//Navbar
$navbar-bg: transparent;
$navbar-color: #fafafa;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-dosis: "Dosis", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
